<script>
    import Visor from '../componentes/visor.svelte';
    let imagen = "https://images.pexels.com/photos/2974657/pexels-photo-2974657.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500";
    let paspartu = 50;
    let medida = "10px";
    let marco = 'dorado';
    function seleccionarCuadro(cuadro){
        marco = cuadro;
    }
</script>
<style>
    .wrapper{
        box-sizing: border-box;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vh;
        height: 40vh;
        background: tomato;
    }
    .visor{
        width: 50%;
        height: 40vh;
    }
    .editores{
        width: 50%;
        height: 40vh;
    }
</style>
<div class="wrapper">
    <div class="contenedor">
        <div class="visor">
            <Visor imagen={imagen} paspartu={paspartu+"%"} medida={medida+'px'} marco={marco} />
        </div>
        <div class="editores">
            <div>
                <button on:click={()=>seleccionarCuadro('dorado')}>dorado</button>
                <button on:click={()=>seleccionarCuadro('negro')}>negro</button>
            </div>
            <select bind:value={medida}>
                <option value="25">20x20</option>
                <option value="20">30x30</option>
                <option value="15">40x40</option>
                <option value="10">50x50</option>
            </select>
            <input type="range" bind:value={paspartu} min={medida - 10} max="50" step="5">
        </div>
    </div>
</div>