<script>
    export let imagen = '';
    export let paspartu = '0%';
    export let medida = '5px';
    export let marco = 'dorado';
</script>
<style>
    .visor{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: grey;
    }
    .cuadro{
        box-sizing: border-box;
        border: silver 10px solid;
        border-image-source: url("assets/marcos/negro.png");
        border-image-slice: 21;
        width: 70%;
        height: 70%;
        overflow: hidden;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        transition: all .3s ease;
    }
    .foto {
        width: 50%;
        height: 50%;
    }
    .foto > img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
</style>
<div class="visor">
    <div class="cuadro" style="border-image-width: {medida};border-image-source: url('assets/marcos/{marco}.png');">
        <div class="foto" style="width: calc(100% - {paspartu});height:  calc(100% - {paspartu});">
            <img src={imagen} alt="tu cuadro elegido">
        </div>
    </div>
</div>