<script>
	import { Router, Link, Route } from "svelte-routing";
	import Compositor from './vistas/compositor.svelte';
	export let url = "";
</script>

<Router url="{url}">
	<Route path="/" component="{Compositor}" />
</Router>
